{erl_opts, [debug_info]}.
{deps, []}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{ct_opts, [
    {ct_hooks, [cth_surefire]},
    {keep_logs, 1}
]}.

{project_plugins, [rebar3_ex_doc]}.

{ex_doc, [
    {extras, [
        {"README.md", #{title => "Overview"}},
        {"doc/CLI_REF.md", #{title => "CLI API"}},
        {"doc/ARGPARSE_REF.md", #{title => "argparse API"}},
        {"doc/examples/escript/simple", #{title => "simple"}},
        {"doc/examples/escript/calc", #{title => "calculator"}},
        {"doc/examples/escript/erm", #{title => "erm"}},
        {"CHANGELOG.md", #{title => "Changelog"}},
        {"LICENSE", #{title => "License"}}
    ]},
    {main, "README.md"},
    {source_url, "https://github.com/max-au/argparse"},
    {output, <<"_build/ex_doc">>},
    {source_ref, <<"master">>},
    {groups_for_extras, [
        {examples, [
            <<"doc/examples/escript/simple">>,
            <<"doc/examples/escript/calc">>,
            <<"doc/examples/escript/erm">>]}
    ]}
]}.

{hex, [
    {doc, #{provider => ex_doc}}
]}.